<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <span style="display: flex; justify-content: flex-left" aria-hidden="true">
                Subscription Details
            </span>
        </div>
    </div>
    <form novalidate autocomplete="off" method="POST" enctype="multipart/form-data" action="/user/subscriptions/new">
        <input type="hidden" name="id" value="{{subscription.id}}"/>
        <div class="card-body">
            <div class="form-group">
                <label for="Callback" class="text-muted" style="font-size: small;">Callback:</label>
                <input readonly type="text"
                    class="form-control {{#filter error_keys "callback"}}is-invalid{{/filter}}"
                    id="Callback" name="callback"
                    value="{{ subscription.callback }}">
                {{#each errors}}
                    {{#eq this.path "callback"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="Topic" class="text-muted" style="font-size: small;">Topic:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "topic"}}is-invalid{{/filter}}"
                    id="Topic" name="topic"
                    value="{{ subscription.topic }}">
                {{#each errors}}
                    {{#eq this.path "topic"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="contenType" class="text-muted" style="font-size: small;">Content Type:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "content_type"}}is-invalid{{/filter}}"
                    id="contenType" name="content_type"
                    value="{{ subscription.content_type }}">
                {{#each errors}}
                    {{#eq this.path "content_type"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="leaseSeconds" class="text-muted" style="font-size: small;">Lease Seconds:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "lease_seconds"}}is-invalid{{/filter}}"
                    id="leaseSeconds" name="lease_seconds"
                    value="{{ subscription.lease_seconds }}">
                {{#each errors}}
                    {{#eq this.path "lease_seconds"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="Secret" class="text-muted" style="font-size: small;">Secret:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "secret"}}is-invalid{{/filter}}"
                    id="Secret" name="secret"
                    value="{{ subscription.secret }}">
                {{#each errors}}
                    {{#eq this.path "secret"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="Function" class="text-muted" style="font-size: small;">Function File:</label>
                <input type="file"
                    class="form-control {{#filter error_keys "function"}}is-invalid{{/filter}}"
                    id="Function" name="file">
                {{#each errors}}
                    {{#eq this.path "file"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
            <div class="form-group">
                <label for="State" class="text-muted" style="font-size: small;">State:</label>
                <select id="State" name="state"
                    class="custom-select {{#filter error_keys "state"}}is-invalid{{/filter}}"
                    value="{{ subscription.state }}">
                    <option disabled selected value="">Select a State</option>
                    {{#each states}}
                        <option value="{{value}}">{{key}}</option>
                    {{/each}}
                </select>
                {{#each errors}}
                    {{#eq this.path "state"}}
                        <div class="invalid-feedback d-block">
                            <div>{{ this.msg }}</div>
                        </div>
                    {{/eq}}
                {{/each}}
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <span style="display: flex; justify-content: flex-left" aria-hidden="true">
                    <button type="submit" class="btn btn-success">create</button>
                </span>
            </div>
        </div>
    </form>
</div>

