<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <span style="display: flex; justify-content: flex-left" aria-hidden="true">
                Id: {{  subscription.id }}
            </span>
        </div>
    </div>
    <form novalidate autocomplete="off" method="POST" action="/user/subscriptions/{{ subscription.id }}">
        <div class="card-body">

            <div class="card-title">
                <span style="display: flex; justify-content: flex-left" aria-hidden="true">
                Subscription details
                </span>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">Callback:</small>
                </span>
                <input readonly type="text" class="form-control" value="{{  subscription.callback }}"/>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">Topic(s):</small>
                </span>
                {{#each subscription.topics}}
                <input readonly type="text" class="form-control" value="{{ this }}"/>
                {{/each}}
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">Content Type:</small>
                </span>
                <input readonly type="text" class="form-control" value="{{ subscription.content_type }}"/>
            </div>
            <div class="card-text">
                <span>
                    <small class="text-muted">Function File:</small>
                </span>
                <input readonly type="text" class="form-control" value="{{ subscription.function }}"/>
            </div>
            <div class="form-group">
                <label for="leaseSeconds" class="text-muted" style="font-size: small;">Lease Seconds:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "lease_seconds"}}is-invalid{{/filter}}"
                    id="leaseSeconds" name="lease_seconds"
                    value="{{ subscription.lease_seconds }}">
                {{#filter error_keys "lease_seconds"}}
                <div class="invalid-feedback d-block">
                    {{#each ../errors}}
                    {{#eq this.param "lease_seconds"}}
                    <div>{{ this.msg }}</div>
                    {{/eq}}
                    {{/each}}
                </div>
                {{/filter}}
            </div>
            <div class="form-group">
                <label for="Secret" class="text-muted" style="font-size: small;">Secret:</label>
                <input type="text"
                    class="form-control {{#filter error_keys "secret"}}is-invalid{{/filter}}"
                    id="Secret" name="secret"
                    value="{{ subscription.secret }}">
                {{#filter error_keys "secret"}}
                <div class="invalid-feedback d-block">
                    {{#each ../errors}}
                    {{#eq this.param "secret"}}
                    <div>{{ this.msg }}</div>
                    {{/eq}}
                    {{/each}}
                </div>
                {{/filter}}
            </div>
            <div class="form-group">
                <label for="State" class="text-muted" style="font-size: small;">State:</label>
                <select id="State" name="state"
                    class="custom-select {{#filter error_keys "state"}}is-invalid{{/filter}}"
                    value="{{ subscription.state }}">
                    <option disabled value="">Select a State</option>
                    {{#each states}}
                    <option {{#eq value ../subscription.state}}selected{{/eq}}
                        value="{{value}}">{{key}}</option>
                    {{/each}}
                </select>
                {{#filter error_keys "state"}}
                <div class="invalid-feedback d-block">
                    {{#each ../errors}}
                    {{#eq this.param "state"}}
                    <div>{{ this.msg }}</div>
                    {{/eq}}
                    {{/each}}
                </div>
                {{/filter}}
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <span style="display: flex; justify-content: flex-left" aria-hidden="true">
                    <button type="submit" class="btn btn-primary">update</button>
                </span>

                <span style="display: flex; justify-content: flex-right" aria-hidden="true">
                    <a id="removeSubscription" class="btn btn-danger" onclick="return removeSubscription('{{subscription.id}}');" href="#">delete</a>
                </span>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function removeSubscription(id) {
        console.log('id: ', id);
        $.ajax({
            url: '/user/subscriptions/' + id,
            type: 'DELETE',
            success: function(result) {
                window.location.href = '/user/subscriptions';
            }
        });
        return false;
    }   
</script>
